<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_academic_root"
        name="Academic"
        sequence="10"/>

    <menuitem id="menu_academic_personas"
        name="Personas"
        parent="menu_academic_root"
        sequence="10"/>
    
    <menuitem id="menu_academic_estructura"
        name="Estructura"
        parent="menu_academic_root"
        sequence="10"/>
    
    <menuitem id="menu_academic_acciones"
        name="Acciones"
        parent="menu_academic_root"
        sequence="10"/>

    <menuitem id="menu_academic_documentos"
        name="Documentos"
        parent="menu_academic_root"
        sequence="10"/>
</odoo>